@charset "utf-8";
img{
    width:50%;
}
.termekek{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
ul{
    display:flex;
    justify-content: space-between;
}
li{
    list-style-type: none;

}
a{
    text-decoration: none;
}